<div *ngIf="open" class="add_comment_modal">
  <div class="add_comment_modal_content">
    <h3>Sign In</h3>
    <form (ngSubmit)="login(form)" #form="ngForm">
      <label for="user">Username</label>
      <input name="user" id="user" placeholder="Username" #usernameInput="ngModel" ngModel required [minlength]="6">
      <ul *ngIf="usernameInput.invalid && usernameInput.touched">
        <li *ngIf="usernameInput.errors?.required">username is required</li>
        <li *ngIf="usernameInput.errors?.minlength">username is invalid</li>
      </ul>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" #passwordInput="ngModel" ngModel required [minlength]="6">
        <ul *ngIf="passwordInput.invalid && passwordInput.touched">
          <li *ngIf="passwordInput.errors?.required">password is required</li>
          <li *ngIf="passwordInput.errors?.minlength">Password should be min 6 characters!</li>
        </ul>
      </div>
      <button type="submit">Sign In</button>
    </form>
    <button (click)="cancelLogin()">Close</button>
  </div>
</div>
