<div *ngIf="open" class="add_comment_modal">
  <div class="add_comment_modal_content">
    <h3>Sign In</h3>
    <form (ngSubmit)="login(form)" #form="ngForm">
      <div class="username-group">
        <label for="user">Username</label>
        <input class="log-username" name="user" id="user" placeholder="Username" #usernameInput="ngModel" ngModel required [minlength]="6">
        <ul class="log-errors" *ngIf="usernameInput.invalid && usernameInput.touched">
          <li class="log-error-user" *ngIf="usernameInput.errors?.required">username is required</li>
          <li class="log-error-user" *ngIf="usernameInput.errors?.minlength">username is invalid</li>
        </ul>
      </div>
      <div class="password-group">
        <label for="password">Password</label>
        <input class="log-password" type="password" name="password" id="password" placeholder="Password" #passwordInput="ngModel" ngModel required [minlength]="6">
        <ul class="log-errors" *ngIf="passwordInput.invalid && passwordInput.touched">
          <li class="log-error-pass" *ngIf="passwordInput.errors?.required">password is required</li>
          <li class="log-error-pass" *ngIf="passwordInput.errors?.minlength">Password should be min 6 characters!</li>
        </ul>
      </div>
      <button class="login-submit" [disabled]="form.invalid" type="submit">Sign In</button>
    </form>
    <button class="close-login" (click)="cancelLogin()"><i class="far fa-times-circle"></i></button>
  </div>
</div>
