@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');


.add_comment_modal {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 11;
}

.add_comment_modal_content {
  position: relative;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 275px;
  margin: 10vh auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  opacity: 85%;
}

.log-username, .log-password {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  margin-top: 5px;
}

.log-username {

}

.log-password {

}

.username-group, .password-group {
  display: flex;
  flex-direction: column;
}

.username-group {

}

.password-group {

}

.login-submit {
  width: 120px;
  border: none;
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #16a256;
  border-radius: 26px;
  color: white;
  font-size: .9rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-login {
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 36px;
  background-color: transparent;
  position: absolute;
  top: 300px;
  left: -43px;
}

/*ul.log-errors {*/
/*  position: absolute;*/
/*}*/

li {
  /*position: absolute;*/
}

.form-messages {
  width: 362px;
  height: 30px;
  position: absolute;
  display: flex;
  background-color: #d2eff5;
  font-size: 11px;
  font-weight: bold;
  border-radius: 26px;
  top: 113%;
  z-index: 12;
}

.form-user-messages, .form-password-messages {
  position: absolute;
  width: 45%;
  top: -3px;
}

.form-user-messages {
  left: 40px;
}

.form-password-messages {
  left: 50%;
}

ul.log-errors {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 0;
}

.wrong-input {
  position: absolute;
  top: 85%;
}

.wrong-message-text {
  font-size: .9rem;
  color: red;
  text-transform: capitalize;
}

