<section class="articles-content-wrapper">
  <p>All Articles</p>
  <button (click)="goLogin()" *ngIf="!loggedIn else logout">Log In</button>
  <ng-template #logout>
    <button (click)="logOut()">Log Out</button>
  </ng-template>
  <div *ngIf="loggedIn else register"><button (click)="addNewArticle()">Add New Article</button></div>
  <ng-template #register>
    <div>
      <button *ngIf="!loggedIn" (click)="registerUser()">Register</button>
    </div>
  </ng-template>
  <app-login *ngIf="openSignIn" (toCloseLogin)="toCloseLoginNow($event)"></app-login>
  <section *ngIf="articlesList.length > 0; else l" class="all-articles">
    <article class="article" *ngFor="let article of articlesList">
      <h3 class="article-title">{{article.title}}</h3>
        <div class="article-img">
          <img src="{{article.img}}" alt="{{article.title}}">
        </div>
        <div class="article-text-content">
          <p class="article-text">{{article.content.split('.', 3)}}...</p>
          <div *ngIf="loggedIn; else loggedOut">
            <p>{{article.date}}</p>
            <p>{{article.author}}</p>
            <p><a [routerLink]="['/article', article.id]">[read full article]</a></p>
          </div>
          <ng-template #loggedOut>
            <a>[Sign in to read full article]</a>
          </ng-template>
          <div class="article-extras" *ngIf="loggedIn">
            <app-like-btn [likes]="likes" [articleId]="article.id" (like_article)="likeArticle($event)"></app-like-btn>
          </div>
        </div>
    </article>
  </section>
  <ng-template #l>
    <h3>Loading Articles...</h3>
  </ng-template>
</section>


