<p *ngIf="loadingComplete" class="loadingComplete">Lading Complete</p>
<div class="log-reg">
  <button class="login-button" (click)="goLogin()" *ngIf="!loggedIn else logout">Log In</button>
  <ng-template #logout>
    <button class="logout-button" (click)="logOut()">Log Out</button>
  </ng-template>
  <div>
    <button class="register-button" *ngIf="!loggedIn" (click)="registerUser()">Register</button>
  </div>
</div>
<!--  <div *ngIf="loggedIn else register"><button (click)="addNewArticle()">Add New Article</button></div>-->
<!--  <ng-template #register>-->
<!--  </ng-template>-->
<section class="articles-content-wrapper">
  <h2 class="categoryTitle">Latest News</h2>
  <app-login *ngIf="openSignIn" (toCloseLogin)="toCloseLoginNow($event)"></app-login>
  <section *ngIf="articlesList.length > 0; else l" class="all-articles">
    <article class="article" *ngFor="let article of articlesList">
        <div class="article-img">
          <img class="main-image-big" src="{{article.img}}" alt="{{article.title}}">
        </div>
      <div class="articleTitle">{{article.title}}</div>
        <div class="article-text-content">
          <p class="article-text">{{article.content.split('.', 3)}}...</p>
          <section class="article-attributes">
            <section class="article-attributes-left">
              <div *ngIf="loggedIn; else loggedOut">
                <p><a class="in-article-link" [routerLink]="['/article', article.id]">[read full text]</a></p>
              </div>
              <div class="article-extras" *ngIf="loggedIn">
                <app-like-btn [likes]="likes" [articleId]="article.id" (like_article)="likeArticle($event)"></app-like-btn>
              </div>
              <ng-template #loggedOut>
                <a class="in-article-link">[sign in to read full text]</a>
              </ng-template>
            </section>
            <section class="article-attributes-right">
              <p class="article-date">{{article.date}}</p>
              <p class="article-author">Author: {{article.author}}</p>
            </section>
          </section>
        </div>
    </article>
  </section>
  <ng-template #l>
    <h3>Loading Articles...</h3>
  </ng-template>
</section>


