@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.log-reg {
  margin-top: 30px;
}

.articles-content {
  margin: 30px auto;
  width: 80%;
}

.all-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 80px 0;
}

.article {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 15px 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  padding-bottom: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.articleTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #3d3d3d;
  margin: 15px auto;
  padding: 0 10px;
}

.article-text-content {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
  float: left;
  display: block;
  text-align: justify;
  padding: 0 0 18px 16px;
  border-left: #55AF21 solid 3px;
}

.article-img {
  width: 100%;
}

img.main-image-big {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-attributes {
  display: flex;
  justify-content: space-between;
}

.article-attributes-left {
  display: flex;
  align-items: center;
}

.article-attributes-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article-date {
font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.article-author {
  color: #707070;
  font-size: .8rem;
  margin: 0;
}

.main-articles-title {
  margin: 0 auto;
  display: flex;
  width: 400px;
  position: sticky;
  top: 80px;
  z-index: 11;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  opacity: 70%;
}

.categoryTitle {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

a.in-article-link {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 9px;
  background-color: #444444;
  padding: 4px 10px 5px 10px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #444444;
}

.loadingComplete {
  width: fit-content;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 119%;
  padding: 4px 16px 4px 16px;
  background-color: #16a256;
  color: white;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  border-radius: 26px;
  transform: translate(-50%, 0%);
  z-index: 10;
}

.log-reg {
  position: fixed;
  top: 40px;
  left: 70px;
}

.login-button {
  width: 120px;
  border: none;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-color: #16a256;
  border-radius: 26px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.logout-button {
  width: 120px;
  border: none;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-color: #FF8C00;
  border-radius: 26px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.register-button {
  width: 120px;
  border: none;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-color: #3689ff;
  border-radius: 26px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
