<section class="article-wrapper">
  <div *ngIf="article; else loading">
    <div class="article-image-container">
      <img class="article-image" src="{{article?.img}}" alt="{{article?.title}}">
    </div>
    <h2 class="article-title">{{article?.title}}</h2>
    <hr>
    <article class="article-container">
      <p class="article-text-content">{{article.content}}</p>
      <section class="article-info">
        <div class="next-btn-container">
          <button class="next-article" [routerLink]="['/article', article.id + 1]">read next article</button>
        </div>
        <app-like-btn [likes]="likes" [articleId]="article.id" (like_article)="likeArticle($event)"></app-like-btn>
        <time class="article-date">{{article.date}}</time>
        <p class="article-author">{{article.author}}</p>
      </section>
      <hr>
      <div class="article-sub-elements">
        <section class="article-extras">
          <app-add-comment [title]="article.title"></app-add-comment>
          <app-view-comments></app-view-comments>
        </section>
      </div>
    </article>
  </div>
  <ng-template #loading>
    <h3>Loading....</h3>
  </ng-template>
</section>




