<div *ngIf="article; else loading">
  <h3 class="article-title">{{article?.title}}</h3>
  <div class="article-image-container">
    <img class="article-image" src="{{article?.img}}" alt="{{article?.title}}">
  </div>
  <article class="article-container">
    <p class="article-text-content">{{article.content}}</p>
    <div class="article-sub-elements">
      <time>{{article.date}}</time>
      <p class="article-author">{{article.author}}</p>
      <section class="article-extras">
        <button (click)="addComment(article.id, article.title)">add comment</button>
        <button (click)="viewComments(article.id, article.title)">view comments</button>
        <button (click)="likeArticle(article.id)">like this article</button>
      </section>
    </div>
  </article>
  <button [routerLink]="['/article', article.id + 1]">Next</button>
</div>
<ng-template #loading>
  <h3>Loading....</h3>
</ng-template>



