<section class="content">
  <div *ngIf="articlesList.length > 0 else empty">
    <h3>Your favorite articles are here, read them again.</h3>
    <div class="fav-article" *ngFor="let article of articlesList">
      <section class="img-container">
        <img src="{{article.img}}" alt="{{article.title}}">
      </section>
      <h2 class="article-title">{{article.title}}</h2>
      <a class="in-article-link" [routerLink]="['/article', article.id]">[read full article]</a>
    </div>
  </div>
  <ng-template #empty>
    <h3>It's empty now, but you can always add your favorite articles here.</h3>
  </ng-template>
</section>


