@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.content {
  padding-top: 60px;
  width: 60%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.fav-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.article-title {
  padding-left: 25px;
  flex-basis: 58%;
}

a.in-article-link {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 9px;
  background-color: #444444;
  padding: 4px 10px 5px 10px;
  text-transform: uppercase;
  height: 10px;
}

h2, h3 {
text-align: center;
}

p {
  font-size: 12px;
}

.img-container {
  width: 230px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

img {
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
