<section class="add-comment-wrapper">
  <h5>Add comment to article:</h5>
  <h4>{{title}}</h4>
  <form (ngSubmit)="addNewComment(form)" #form="ngForm">
    <textarea name="comment" id="comment" #comment='ngModel' ngModel required [minlength]="2"></textarea>
    <button class="send-comment">sent comment</button>
    <ul *ngIf="form.invalid && form.touched">
      <!--    <li *ngIf="comment.errors?.required">Write your comment before send.</li>-->
      <li *ngIf="comment.errors?.minlength">Comment must be more than one character.</li>
    </ul>
    <div *ngIf="newComment">
      <p>New comment Added!</p>
    </div>
  </form>
</section>

