@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css');

.add-comment-wrapper {
  width: 400px;
}

h4, h5, p {
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

textarea {
  height: 250px;
  margin-bottom: 25px;
  resize: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button.send-comment {
  width: fit-content;
  text-transform: uppercase;
  background-color: #16a256;
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 26px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.new-comment-added {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 125%;
  width: 160px;
}

.fa-arrow-circle-right {
  color: #16a256;
  font-size: 1.3rem;
  margin-left: 5px;
}

p {
  font-size: .65rem;
  margin: 0;
}

