@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.active {
  background-color: #719091;
  color: white;
  padding: 7px;
}

nav {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

a {
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  margin-right: 30px;
  z-index: 8;
  padding: 7px;
}

.mainHeader {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 25px 15px 15px 15px;
  background-color: #fff;
  opacity: 70%;
  z-index: 1;
  border-bottom: coral solid 3px;
}

.siteLogo {
  font-family: 'Viaoda Libre', cursive;
  font-size: 40px;
  color: black;
  z-index: 7;
}

.header-username {
  font-weight: bold;
  color: #16a256;
}

.infoDot {
  position: absolute;
  top: -11px;
  left: 133px;
  font-family: Montserrat, sans-serif;
  height: 14px;
  width: 14px;
  border-radius: 100px;
  background-color: #16bd4a;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 2px 2px;
  animation-name: favBatch;
  animation-duration: 1.5s;
  border: 3px solid white;
}

@keyframes favBatch {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}


