@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

body {
  margin: 0;
  padding: 0;
  min-width: 750px;
}

.like-button {
  width: fit-content;
  border: none;
  padding: 4px 8px;
  background-color: #285c94;
  font-family: 'Montserrat', sans-serif;
  font-size: .5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: white;
  border-radius: 26px;
  /*margin-left: 10px;*/
}

.like-button-liked {
  width: fit-content;
  border: none;
  padding: 4px 8px;
  background-color: #32b46b;
  font-family: 'Montserrat', sans-serif;
  font-size: .5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: white;
  border-radius: 26px;
  /*margin-left: 10px;*/
}
